body {
    background-color: #00000085;
    font-family: Arial, Helvetica, sans-serif;}
.wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 340px 1fr;
}
.content {
    margin-top: 30px;   
}
.header {
    background-color: #f2f2f2;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding: 20px; 
}
.header img {
    margin: 10px;
    width: 15%;
}
.header p {
    margin: 0px;
    color: #00000095

}
.message {
    height: 480px;
    padding: 20px; 
    background-color: #fafafa;
    box-shadow: 0px 9px 28px #00000005, 0px 6px 16px #00000008, 0px 3px 6px #00000012;
    border-radius: 0px 0px 10px 10px;
}
.message .chat-bubble {
    width: 55%;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    background-color: #C3F0FE;
    border: 1px solid #C3F0FE;

}
.message .chat-bubble p {
    padding: 0px;
    line-height: 1.2;
}
.message .preview-bubble {
    width: 80%;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-image: url("../img/bg.jpeg");
    background-position: center;
    background-color: #00000085;
    border: 1px solid #00000000;
}
.message img {
    width: 40%;
}
.message .link-bubble {
    width: 80%;
    padding: 0px 0px 10px 0px;  
    background-color: #C3F0FE;
    border: 1px solid #C3F0FE;
    border-radius: 0px 0px 20px 20px;
 
}
.link-title {
    padding: 12px 0px 2px 20px;
    margin: 0px 0px 0px 0px;
    color: #00000095;
}
.link {
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 5px 0px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #00000065;
}
.linktext {
    text-decoration: none;
}
