@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    line-height: 136%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 120px 0px 120px;
}
.case-header, .case-image {
    grid-column: span 2;
}
@media only screen and (max-width: 740px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 20px 0px 20px;
    }
    .case-header, .case-image {
        grid-column: span 1;
    }  
}
.case-header h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 10;
    margin-bottom: 0;
}
.case-header h4 {
    font-size: 18px;
    font-weight: 400;
    color: #00000075;
}
.crumb {
    font-weight: 300;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #F08080;
}
.content {
    margin: 20px;
}
.content-rating {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 80px;
}
.content-rating li {
    margin-bottom: 6px;
}
.rating-title, .content-number {
    letter-spacing: 0.75px;
    color: #00000065;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 0;
    padding: 8px 0 8px 0;
}
.rating-title:first-child {
    padding: 0;
}
.rating-title {
    margin-right: 10px;
}
.content-number {
    margin: 0;
    padding: 0;
}
.on {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #FCA88C;
    border-radius: 50%;
}
.off {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #f2f2f2;
    border-radius: 50%;
}
.case-image img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: 0px 9px 28px #00000006, 0px 6px 16px #00000012, 0px 3px 6px #00000018;
}
