@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    background-color: #FBC4AB;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    line-height: 136%;
}
.column-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 280px);

}
#avatar img {
    box-shadow: 0px 9px 28px #FF4B2305, 0px 6px 16px #FF4B2308, 0px 3px 6px #FF4B2312;
}
.content {
    color: #00000095;
    background-color: #FFFFFF80;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    box-shadow: 0px 9px 28px #FF4B2305, 0px 6px 16px #FF4B2308, 0px 3px 6px #FF4B2312;
}
.content h1 {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size:40px;
    font-style: normal;
    font-weight: 400;
}
.content p {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.bottom-grid {
    position: relative;
    height: 600px;
}
.grid-layer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.nav-layer {
    position: absolute;
    left: 50%;
    transform: translate(31%, 21.5%);
}
.nav-layer ul {
    list-style-type: none;
    margin: 0 auto;
}
#menu {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
#menu li {
    width: 84px;
    height: 84px;
    margin-top: 36px;
    display: table;
    background-color: #F08080;
    border-radius: 2px;
    box-shadow: 0px 9px 28px #FF4B2305, 0px 6px 16px #FF4B2308, 0px 3px 6px #FF4B2312;
}
#menu li > a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
}
.grid-layer {
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 0px;
    row-gap: 0px;
}
.grid > div {
    height: 120px;
}
.active {
    display: table;
    border-left: 2px solid #FF4B2340;
    border-top: 2px solid #FF4B2340;
}
.active-left {
    border-left: 2px solid #FF4B2340;
}
.active-top {
    border-top: 2px solid #FF4B2340;
}
.active-bottom {
    display: table;
    border-left: 2px solid #FF4B2340;
    border-top: 2px solid #FF4B2340;
    border-bottom: 2px solid #FF4B2340;
}
.active-right {
    display: table;
    border-top: 2px solid #FF4B2340;
    border-right: 2px solid #FF4B2340;
    border-left: 2px solid #FF4B2340;
}
.active p {
    display: table-cell;
    color: #00000045;
    padding: 10px;
    width: 84px;
    height: 84px;
    margin-left: 16px;
    text-align: center;
    vertical-align: middle;
}
#heart {
    color: #FF3E25;
}