/* Styles for global header */

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    padding: 1em 4em 1em 4em;
    display: grid;
    align-items: center;
    grid-template-columns: 200px minmax(80px, 1fr) 320px;
    text-transform: uppercase;
    z-index: 20;
}
.left {
    display: flex;
    padding: 1em;
    color: #000000;
}
.left a:any-link {
    text-decoration: none;
    color: #000000;
}
.menu {
    display: flex;
    gap: 1.3rem;
    list-style-type: none;
    justify-content: left;
}
.menu a:any-link {
    text-decoration: none;
    color: #000000;
}
.menu #currentpage {
    text-decoration: underline;
    text-underline-offset: .5em;
}
.menu > li:hover {
    text-decoration: underline;
    text-underline-offset: .5em;
}
.hamburger {
    display: none;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
}
@media (max-width: 600px) {
    header {
        padding: 1em 2em;
        grid-template-columns: 200px 1fr 25px;
    }
    .nav {
        justify-content: center;
    }
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
#overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3em;
}
#overlay-menu a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
#overlaypage {
    text-decoration: underline;
    text-underline-offset: .5em;
}



/* Styles for global footer */

footer {
    background-color: #D2D2D2;
    display: grid;
    color: #00000060;
    justify-content: center;
    align-items: baseline;
    padding-top: .25em;
    font-size: small;
    padding: 1em;
}

/* Styles for global text */

body {
    font-family: Inter, sans-serif;
    font-size: 1em;
    line-height: 150%;
    background-color: #FFFFFF;
    margin: 0 0 0 0;
}

/* Styles for home page */

.home-wrapper {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: repeat(4, 85vh);
}

/* Styles for home sections */

section {
    scroll-snap-align: start;
}
.home-section-content {
    display: grid;
    grid-template-rows: 36px 1fr 36px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: center;
}
.home-section-content span {
   font-weight: 900;
   color: #00000040;
}
.home-first-page {
    background-color: #FFFFFF;
    display: grid;
}
.home-second-page {
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
    color: #00000080;
}
.home-third-page {
    background-color: #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
    color: #00000070;
}
#home-animation {
    width: 327px;
}
@media (min-width: 600px) {
    #home-animation {
        width: 600px; /* Width for viewports more than 600px */
    }
}
@media (max-width: 600px) {
    .home-section-content {
        font-size: 1.2em;
    }
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: baseline;
    height: auto;
    padding: 1em;
}
.brands {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
}

/* Styles for works page */

.work-wrapper {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: repeat(10, 85vh);
}
.work-section-content {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: left;
}
.work-odd-page {
    background-color: #FFFFFF;
    display: grid;
}

.work-even-page {
    background-color: #EFEFEF;
    display: grid;
}

/* Hack for Rive overwriting index */

#hack-index-1 {
    z-index: 2;
}
#hack-index-2 {
    z-index: 3;
}
#hack-index-3 {
    z-index: 4;
}
#hack-index-4 {
    z-index: 5;
}
#hack-index-5 {
    z-index: 6;
}
#hack-index-6 {
    z-index: 7;
}
#hack-index-7 {
    z-index: 8;
}
#hack-index-8 {
    z-index: 9;
}
#hack-index-9 {
    z-index: 10;
}

/* Styles for project sections */

.project-item-mobile {
    display: grid;
    grid-template-columns: 300px minmax(18em,28em);
    margin: 0 3em 0 3em;
    justify-content: center;
}
[id^='canvas_'] {
    width: 300px;
    height: 612px;
}
.project-item-mobile > .hero img {
    width: 300px;
}
@media (max-width: 600px) {
    .work-odd-page {
        margin-bottom: 2em;
    }
    .project-item-mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .work-wrapper {
        display: flex;
        scroll-snap-type: none;
        flex-direction: column;
    }
    .project-item-mobile {
        margin: 0;
    }
}

/* Styles for desktop projects */

.project-item-desk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 2em 2em 2em;
    justify-content: center;
}
.project-item-desk > .hero {
    grid-column: span 2;
}
.project-item-desk > .hero img {
    width: 832px;
}
.project-item-desk > .description {
    margin-top: 2em;
}

/* Styles for project summaries */

.description {
    margin: 2em;
}
.description h1 {
    font-size: medium;
    font-weight: 400;
    color: #00000080;
}
.description h2 {
    font-weight: 300;
    font-size: large;
    color: #00000090;
}
.description h2 span {
    font-weight: 400;
    font-style: italic;
}
.description h3 {
    line-height: 130%;
    font-weight: 200;
    font-size: medium;
    color: #00000070;
}
.description q {
    padding-top: 0.333em;
    font-style: italic;
    line-height: 150%;
    font-weight: 200;
    font-size: medium;
    color: #00000070;
}
.description p {
    padding-top: 0.333em;
    line-height: 150%;
    font-weight: 200;
    font-size: medium;
    color: #00000070;
}

/* Styles for contact page */

.contact-wrapper {
    height: 85vh;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    display: grid;
    grid-template-rows: auto;
}

/* Styles for home sections */

/* section {
    scroll-snap-align: start;
} */
.contact-section-content {  
    display: grid;
    grid-template-rows: 36px 1fr 36px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;
}
.contact-first-page {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
}
#contact-header {
    position: fixed;
}


/* Styles for CTA */

.button {
    background-color: #00A4FF;
    border: none;
    color: #FFFFFF;
    padding: .25em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 4em;
}

/* Styles for error pages */

.error {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;
}
.fourohfour {
    text-align: center;
}
#think {
    font-size: 6em;
}
.fourohfour h1 {
    font-size: 4em;
    line-height: 1em;
    color: #00000040;
}