@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    background-color: #FBC4AB;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    line-height: 136%;
}
.wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 280px 1fr;
    /* bottom: 50%; */
    transform: translate(0, 15%);
}
.top-bio {
    position: absolute;
    grid-area: 1 / 2 / span 1 / span 1;
    transform: translate(-80%, 15%);
}

#avatar img {
    box-shadow: 0px 9px 28px #FF4B2305, 0px 6px 16px #FF4B2308, 0px 3px 6px #FF4B2312;
}
.content {
    color: #00000098;
    background-color: #FFFFFF99;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    box-shadow: 0px 9px 28px #FF4B2305, 0px 6px 16px #FF4B2308, 0px 3px 6px #FF4B2312;
}
.content h1 {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size:40px;
    font-style: normal;
    font-weight: 400;
}
.content p {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.bottom-grid {
    position: relative;
    grid-area: 1 / 1 / span 1 / span 4;
    height: 600px;
}
.grid-layer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.nav-layer {
    position: absolute;
    left: 50%;
    transform: translate(31%, 29%);
}
.works-nav-layer {
    position: absolute;
    left: 50%;
    transform: translate(-127%, 25%);
}
.works-nav-layer > #menu > li {
    float: left;
    margin-top: 0px;
    margin-left: 36px;
}
ul {
    list-style-type: none;
    margin: 0 auto;
}
#menu {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
#menu li {
    width: 84px;
    height: 84px;
    margin-top: 36px;
    display: table;
    background-color: #F08080;
    border-radius: 2px;
    box-shadow: 0px 9px 28px #FF4B2306, 0px 6px 16px #FF4B2312, 0px 3px 6px #FF4B2318;
}
#menu li > a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;

}
#menu > li:hover, .project:hover {
    color: #4FADEC;
    box-shadow: 0px 0px 6px 3px #4FADEC40;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 0px;
    row-gap: 0px;
}
.grid > div {
    height: 120px;
}
.active {
    border-left: 3px solid #FCA88C;
    border-top: 3px solid #FCA88C;
}
.active-left {
    border-left: 3px solid #FCA88C;
}
.active-top {
    border-top: 3px solid #FCA88C;
}
.active-bottom {
    border-left: 3px solid #FCA88C;
    border-top: 3px solid #FCA88C;
    border-bottom: 3px solid #FCA88C;
}
.active-right {
    border-top: 3px solid #FCA88C;
    border-right: 3px solid #FCA88C;
    border-left: 3px solid #FCA88C;
}
.project {
    width: 208px;
    height: auto;
    margin-top: 14px;
    margin-left: 14px;
    box-shadow: 0px 9px 28px #FF4B2306, 0px 6px 16px #FF4B2312, 0px 3px 6px #FF4B2318;
}
#made-by {
    display: table-cell;
    font-size: 14px;
    color: #00000025;
    padding: 16px;
    width: 84px;
    height: 84px;
    margin-left: 16px;
    text-align: center;
    vertical-align: middle;
}
#heart {
    color: #FF3E25;
}
@media only screen and (max-width: 840px) {
    .wrapper {
        grid-template-columns: 280px 280px 1fr;
    }
  }